body {
    margin: 0;
    background-color: #05263a;
    color: rgb(223,9,5);
    font-family: "Special Elite", serif;
}

.header-container {
    background-color: #05263a;
    /* background-image: url("images/logo.png"); */
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 171px;
    padding-left: 8px;
}

.game-title {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.nav {
    display: inline-block;
}

#main-content {
    height: 75%;
    background-color: black;
}

#stats {
    padding-left: 8px;
    color: red;
    width: 10vw;
    height: 100vh;
    float: left;
}

#game-area {
    width: 90%;
    height: 100vh;
}

.card-container {
    display: inline-block;
    position: relative;
    height: 30%;
    width: 14%;
}

.card {
    left: 5%;
    top: 5%;
    height: 100%;
    width: 100%;
    position: relative;
}

.card img {
    height: 80%;
    width: 80%;
}

.front, .back {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.hide .back {
    display: none;
}

.stats-title {
    font-size: 20px;
}

.label, .value {
    font-size: 15px;
}

.reset {
    background-color: black;
    color: rgb(223,9,5);
    border: 1px solid rgb(223,9,5);
    font-family: "Special Elite", serif;
    font-size: 25px;
    padding: 10px;
    transition: background-color .5s;
    border-radius: 10px;
}

.reset:hover {
    background-color: rgb(110, 3, 2);
    color: red;
    text-shadow: 2px 2px black;
    /* transition: .5s; */
}
