.header {
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.game {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    height: 100%;
    width: 20%;
}

.front {
    position: absolute;
}

.back {
    position: relative;
}